/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas */
button, input, select, textarea { width: auto; overflow: visible; margin: 0; }

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/**
 * Primary styles
 *
 * Author: 
 */

html {
	font-family: 'Droid Serif', Verdana, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	height:100%;
	background:url(../img/1335.png);
}
body {
	font-size: 12px; font-size: 1.2rem;
}
h1 {
	font-family: 'Gruppo', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px; font-size: 2.4rem;
	color:#fff;
	text-shadow: 2px 2px 2px #9e9e9e;
	
}
h2 {
	font-family: 'Gruppo', Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px; font-size: 2rem;
	font-weight:normal;
	color:#8E8e8e;
}
a{
	color:rgba(178,246,61,01);
}
a:hover, a:visited{
	color:rgba(128,177,44,0.8);
}

a.retour_article {
	position:absolute;
	top:50px;top:5rem;
	left:50px;left:5rem;
	color:#ccc;
	text-shadow: 2px 2px 5px #000;
	text-decoration:none;
	font-size: 14px; font-size: 1.4rem;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px solid rgba(55,55,55,0.8);
	padding: 5px 10px;padding: 0.5rem 1rem;
	box-shadow: 2px 2px 5px #9e9e9e;
	background: rgba(50,50,50,0.2); /* old browsers */
	background: -moz-linear-gradient(top, rgba(250,250,250,0.7), rgba(150,150,150,0.5)); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(150,150,150,0.5)), to(rgba(50,50,50,0.7))); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#323232',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, rgba(150,150,150,0.5), rgba(50,50,50,0.7)); /* opera */
	
}
a.retour_article:hover {
	box-shadow: -2px -2px 5px #9e9e9e;
}
header {
	text-align:center;
	margin-top:20px;margin-top:2rem;
	margin-bottom:50px;margin-bottom:5rem;
}
section {
	margin:20px 50px;margin:2rem 5rem;
	background-color:rgba(255,255,255,0.7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:2px solid rgba(255,255,255,0.8);
}
section article header{
	text-align:left;
	display:block;
	background-color:rgba(0,0,0,0.2);
	padding:5px 10px;
	margin:0px;margin:0rem;
	margin-bottom:10px;margin-bottom:1rem;
	background: rgba(50,50,50,0.8); /* old browsers */
	background: -moz-linear-gradient(top, rgba(150,150,150,0.5), rgba(50,50,50,0.7)); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(150,150,150,0.5)), to(rgba(50,50,50,0.7))); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#323232',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, rgba(150,150,150,0.5), rgba(50,50,50,0.7)); /* opera */
	
}
header h1 {
	font-size: 50px; font-size: 5rem;
	margin:0px;margin:0rem;
}
header h1 span{
	background-color:rgba(178,246,61,0.8);
	padding:2px 2px;
}
header h1 .surlign_619A00{
	background-color:rgba(128,177,44,0.8);
}
header h2 {
	margin:0px;margin-top:2.5px;
	margin:0rem;margin-top:0.25rem;
}
section article header h1 {
	font-size: 26px; font-size: 2.8rem;
	color:rgba(20,20,20,0.8);
	font-weight:bold;
	margin-top:10px;margin-top:1rem;
	text-shadow: 2px 2px 2px rgba(150,150,150,0.8);
}

.article-content {
	column-count: 3; -webkit-column-count: 3; -moz-column-count: 3;
	-webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px;
	-webkit-column-gap: 2rem; -moz-column-gap: 2rem; column-gap: 2rem;
	-webkit-column-rule: 2px solid rgba(255,255,255,0.2);
 	-moz-column-rule: 2px solid rgba(255,255,255,0.2);
 	column-rule: 2px solid rgba(255,255,255,0.2);
	margin:30px 20px;margin:3rem 2rem;
	line-height:150%;
}
.article-content p{
	text-indent:10px;text-indent:1rem;
	margin:20px 0px;margin:2rem 0rem;
}
.article-content #countDown{
	font-size: 14px; font-size: 1.4rem;
}
.article-content #countDown span{
	box-shadow: 2px 2px 3px #9e9e9e;
	padding:4px 4px;
	background: rgba(128,177,44,0.8); /* old browsers */
	background: -moz-linear-gradient(top, rgba(178,246,61,0.8), rgba(128,177,44,0.8)); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(178,246,61,0.8)), to(rgba(128,177,44,0.8))); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80B12C', endColorstr='#B2F63D',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, rgba(178,246,61,0.8), rgba(128,177,44,0.8)); /* opera */
	border-left:1px solid rgba(178,246,61,0.8);
}
.article-content #countDown span:first-child {
	padding-left:20px;
	border-left:0px none #000;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.article-content #countDown span:last-child {
	padding-right:20px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.article-content h2 {
	color:rgba(178,246,61,1);
	color:#000;
	font-size: 24px; font-size: 2.4rem;
	background: #B2F63D;
	padding:4px 6px;
}
.article-content h3 {
	background: #rgba(50,50,50,0.8);;
}
::-moz-selection{ background: #E869AA; color:#000; text-shadow: none; }
::selection { background:#E869AA; color:#000; text-shadow: none; }


#launch-notification{
	text-align:center;
}
#launch-notification input{
	background-color:rgba(255,255,255,0.5);
	padding:0.25em 1em;
	border:solid 1px rgba(128,177,44,0.8);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius:8px;
}
#launch-notification input::-webkit-input-placeholder{
	color:#333
}
#launch-notification input::moz-placeholder{
	color:#333
}

#launch-notification input[type=email]{
	width:18rem;
}
#launch-notification input[type=submit]{
	box-shadow: 2px 2px 2px #9e9e9e;
	padding:4px 10px;
	background: rgba(128,177,44,0.8); /* old browsers */
	background: -moz-linear-gradient(top, rgba(178,246,61,0.8), rgba(128,177,44,0.8)); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(178,246,61,0.8)), to(rgba(128,177,44,0.8))); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80B12C', endColorstr='#B2F63D',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, rgba(178,246,61,0.8), rgba(128,177,44,0.8)); /* opera */
}




footer{
	background: rgba(50,50,50,0.8); /* old browsers */
	background: -moz-linear-gradient(top, rgba(50,50,50,0.3), rgba(200,200,200,0.7)); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.3)), to(rgba(200,200,200,0.7))); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#323232',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, rgba(50,50,50,0.3), rgba(200,200,200,0.7)); /* opera */
	position:absolute;
	bottom:0;
	width:100%;
}
footer figure{
	height:32px;
	text-align:left;
	display:inline;
}
footer ul{
	text-align:center;
	-webkit-padding-start:0px;
	padding-left:0px;
}
footer ul li{
	display:inline;
}
footer a:hover figure img{
	-moz-transform:rotate(25deg);
	-webkit-transform:rotate(25deg);
	-o-transform:rotate(25deg)
}







/**
 * Coming soon styles
 *
 * Author: 
 */
 meter{
	width:300px;
	background-color:transparent;
	border:1px solid #80B12C;
	text-align:center;
	z-index:2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

meter::-webkit-meter-horizontal-bar, meter::-webkit-meter-horizontal-optimum-value, meter::-webkit-meter-horizontal-suboptimal-value, meter::-webkit-meter-horizontal-even-less-good-value,
meter::-webkit-meter-vertical-bar, meter::-webkit-meter-vertical-optimum-value, meter::-webkit-meter-vertical-suboptimal-value, meter::-webkit-meter-vertical-even-less-good-value,
meter::-o-meter-horizontal-bar, meter::-o-meter-horizontal-optimum-value, meter::-o-meter-horizontal-suboptimal-value, meter::-o-meter-horizontal-even-less-good-value,
meter::-o-meter-vertical-bar, meter::-o-meter-vertical-optimum-value, meter::-o-meter-vertical-suboptimal-value, meter::-o-meter-vertical-even-less-good-value {
	-webkit-appearance: meter;
	-o-appearance: meter;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
meter::-webkit-meter-horizontal-bar, meter::-o-meter-horizontal-bar {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), color-stop(0.2, #EEE), color-stop(0.45, #CCC), color-stop(0.55, #CCC), to(#DDD));
	
}
meter::-webkit-meter-horizontal-optimum-value, meter::-o-meter-horizontal-optimum-value {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AD7), color-stop(0.2, #CEA), color-stop(0.45, #7A3), color-stop(0.55, #7A3), to(#AD7));
		background: rgba(128,177,44,0.8); /* old browsers */
	background: -moz-linear-gradient(top, rgba(178,246,61,0.8), rgba(128,177,44,0.8)); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(178,246,61,0.8)), to(rgba(128,177,44,0.8))); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80B12C', endColorstr='#B2F63D',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, rgba(178,246,61,0.8), rgba(128,177,44,0.8)); /* opera */
}
meter::-webkit-meter-horizontal-suboptimal-value, meter::-o-meter-horizontal-suboptimal-value {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FE7), color-stop(0.2, #FFC), color-stop(0.45, #DB3), color-stop(0.55, #DB3), to(#FE7));
}
meter::-webkit-meter-horizontal-even-less-good-value, meter::-o-meter-horizontal-even-less-good-value {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F77), to(#F77), color-stop(0.2, #FCC), color-stop(0.45, #D44), color-stop(0.55, #D44));
}
meter::-webkit-meter-vertical-bar, meter::-o-meter-vertical-bar {
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#DDD), to(#DDD), color-stop(0.2, #EEE), color-stop(0.45, #CCC), color-stop(0.55, #CCC));
}
meter::-webkit-meter-vertical-optimum-value, meter::-o-meter-vertical-optimum-value {
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#AD7), to(#AD7), color-stop(0.2, #CEA), color-stop(0.45, #7A3), color-stop(0.55, #7A3));
}
meter::-webkit-meter-vertical-suboptimal-value, meter::-o-meter-vertical-suboptimal-value {
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#FE7), to(#FE7), color-stop(0.2, #FFC), color-stop(0.45, #DB3), color-stop(0.55, #DB3));
}
meter::-webkit-meter-vertical-even-less-good-value, meter::-o-meter-vertical-even-less-good-value {
	background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#F77), to(#F77), color-stop(0.2, #FCC), color-stop(0.45, #D44), color-stop(0.55, #D44));
}

meter #meter-pourcent {
	color:#333;
	text-shadow: 2px 2px 2px #9e9e9e;
}






/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}